{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'col-lg-5' }}) }}
{{ form_widget(form) }}
<form action="submit" method="POST">
    <br/>
    <button type="submit" class="btn btn-primary ">{{ action|default('Valider') }}</button>
</form>
{{ form_end(form) }}