{% extends "layout_home.html.twig" %}
{% block body %}
    <div class="container">
        <h1>Modifier ses informations</h1>
        {{ include('security/_formUser.html.twig')}}
    </div>
{% endblock %}