{% extends "admin/layout.html.twig" %}
{% block body %}
<div class="container">
    <br>
    <div>Bla bla bla le jeu il est buggé haha c'est marrant </div>
    <a href="{{ path('download') }}">TÉLÉCHARGE LE</a>
</div>
{% endblock %}