{% extends "layout_home.html.twig" %}
{% block body %}
<div class="container">
    <br>
    <div>Description du jeu, vous pouvez le télécharger ici : </div>
    <a href="{{ path('download') }}">TÉLÉCHARGER</a>
</div>
{% endblock %}